<div class="container imageGet">
<script src="/js/webcam.js"></script>
	<script src="/js/FACE-1.0.js"></script>
	<script src="/js/gallery.js"></script>

	<div id="slideshow-container">
	<div id="my_camera" style="width:320px; height:240px;visibility:hidden;"></div>
		<img id="slideshow" />
	</div>
	<div id="result_images"></div>
	<div id="observations"></div>
</div>
